
body.evo, .mobile-app {
  --font-primary: 'Poppins', sans-serif;
  --primary-font: 'Poppins', sans-serif;
  --body-bg-color:#f3f5f9;
  --evo-header-bg-color: #f3f5f9eb;
  --evo-sub-side: #ffffff;
  --active-color: #24D3A5;
  --active-color-hover: 36, 211, 165;
  --link-color: #28a0de;
  --link-color-hover: #2696ce;
  --progress-bar-color:#52c4ff;
  --text-white: #fff;
  --highlight-color: #12aff0;
  --popup-bg: #ffffff;
  --popup-widget-bg:#f3f5f9;
  --popup-bg-container: #fff;
  --dropdown-bg: #fffffff7;
  --left-bar-bg: #0B0F1F;
  --light-text-color: #2b2e38;
  --light-grey-text-color: #777c8e;
  --placeholder-text: #888ea6;
  --tile-shadow: 0px 5px 10px -2px rgb(4 4 4 / 4%);
  --main-border-r: 10px;
  --radius-border-sm: .3rem;
  --radius-border-md: .8rem;
  --radius-border-full: 5rem;
  --border-r-rounded: 50px;
  --button-color: #fff;
  --button-color-2: #222;
  --button-color-3: #222;
  --button-color-4: #fff;
  --button-bg-2: #222;
  --button-bg-3: #fff;
  --button-bg-4: #0d0d0f;
  --button-dark-bg: 0, 0, 0;
  --button-border-color: #e5e5f1;
  --button-border-color-3: #222;
  --button-hover-bg: #eeeff3db;
  --button-hover-bg-2: #13102e05;
  --button-gray-bg: #f6f8fc;
  --button-gray-bg-hover: #f3f5f9;
  --section-nav-bg: #ffffff;
  --section-nav-gray:#ededf3;
  --nav-button-hover: #0000006e;
  --nav-pullout-bg: #fffffff2;
  --hover-color: #f8f8fc6e;
  --left-nav-bg: #fff;
  --left-nav-bg-hover: #f3f5f9;
  --light-gray-bg: #f3f4f9;
  --tags-bg: #f3f4f9;
  --alert-bg: #F8F8FC;
  --input-bg: #fff;
  --main-border-color: #ededf3;
  --border-darker-color: #d0d0da;
  --border-color-light: #eeeef8;
  --border-color-bg: #ffffff;
  --input-border-color: #e1e1eb;
  --table-border-color: #eeeef8;
  --table-border-color-highlight: #fff;
  --table-selected:#fafbfd;
  --table-row-alternate:#fafbfd;
  --box-shadow: 0px 5px 6px 0px rgb(11 0 60 / 4%);
  --box-shadow-hover: 0px 5px 6px 0px rgb(11 0 60 / 8%);
  --box-shadow-btn: 0px 3px 5px 0px rgb(11 0 60 / 2%);
  --box-shadow-btn-hover: 0px 5px 6px 0px rgb(11 0 60 / 8%);
  --box-shadow-heavy: 0px 5px 6px 0px rgb(11 0 60 / 8%);
  --box-shadow-transition: box-shadow .3s ease-in-out, border .3s ease-in-out;
  --box-shadow-inset: inset 0 2px 5px rgb(11 0 60 / 8%);
  --main-text-color: #0f0f0f;
  --widget-text-font-size: .85rem;
  --success-color: #00C290;
  --color-green: #00C290;
  --color-blue: #28a0de;
  --color-purple: #A584F3;
  --color-yellow: #FCB707;
  --color-red: #F46060;
  --color-lightblue: #E0F1ff;
  --color-red-bg:rgb(251, 131, 137);
  --color-green-bg:rgb(0, 194, 145);
  --color-overlay-bg:rgb(46 48 61 / 67%);
  --color-lightgray: #f3f5f9;
  --color-gray:#757D9E;
  --color-ai-learn:#5955E2;
  --color-ai-assess:#FCB707;
  --color-ai-practice:#F46060;
  --color-ai-skills:#FC9230;
  --color-ai-careers:#009D27;
  --bullet-color: #d5d5df;
  --left-bar-text: #b0b9dd;
  --tool-bar-color: #ffffffeb;
  --scroll-bar-color: #999daf;
  --scroll-bar-bg-color: #f3f5f9;
  --font-size-smaller: .7rem;
  --font-size-small: .75rem;
  --font-size-regular: .8rem;
  --font-size-medium: .85rem;
  --font-size-large: .9rem;
  --font-size-larger: 1rem;
  --font-weight-thin:300;
  --font-weight-light:400;
  --font-weight-medium:500;
  --font-weight-semibold:600;
  --font-weight-bold:700;
  --font-weight-bolder:800;
  --disabled-bg: #f3f5f9;
  --copilot-chat-bg: #EAEEF5;
  --copilot-btn-light-hover:#dedee9;
  --copilot-btn-light-visited:#e8e9f3;
  --copilot-chat-input:#EAEEF5;
  --copilot-bg:#fff;
  --copilot-bg-msg: #EAEEF5;
  --content-bg-color: #f3f5f9;
  --content-light-bg-color: #f8fafe;
  --th-bg-color: #f3f5f9;
  --editor-bg-color: #fff;
  --invert-bg-color: #fff;
  --user-table-border-color: #cacaca;
  --error-msg-bg: #ffd0d0;
  --error-msg-text: #fc1616;
}

body.evo *:not(.materialStyle *) {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

[data-theme="dark"] body.evo, [data-theme="dark"] .mobile-app {
  --left-nav-bg: hsl(235.98deg 13.92% 15.68%);
  --body-bg-color: #0F0F11;
  --evo-header-bg-color: hsl(235.98deg 14.27% 9.3% / 74%);
  --nav-pullout-bg: hsl(240deg 12.9% 12.16%);
  --left-bar-bg: #0d0d0f;
  --th-bg-color: hsl(235.98deg 14.27% 9.3%);
  --content-light-bg-color: hsl(235.98deg 13.92% 15.68%);
  --input-bg: hsl(235.98deg 14.59% 4.39%);
  --section-nav-bg: hsl(235.98deg 13.92% 15.68%);
  --button-color: hsl(235.98deg 13.92% 15.68%);
  --button-hover-bg: hsl(235.98deg 12.33% 25.85%);
  --button-color-2: #fff;
  --button-color-3: #222;
  --button-color-4: #0d0d0f;
  --button-bg-2: #222;
  --button-bg-3: hsl(235.98deg 13.99% 19.82%);
  --button-bg-4: hsl(0deg 0% 100%);
  --button-gray-bg: #0F0F11;
  --popup-bg: hsl(235.98deg 14.27% 9.3%);
  --popup-widget-bg:hsl(235.98deg 13.92% 15.68%);
  --popup-bg-container: hsl(235.98deg 14.27% 9.3%);
  --content-bg-color: hsl(235.98deg 14.27% 9.3%);
  --disabled-bg:#0F0F11;
  --button-border-color: hsl(235.98deg 13.92% 15.68%);
  --button-color-2: white;
  --dropdown-bg: hsl(235.98deg 14.27% 9.3%);
  --border-color-light: #0F0F11;
  --border-color-bg: hsl(235.98deg 14.27% 9.3%);
  --border-darker-color: #343434;
  --input-border-color: #414147;
  --main-border-color: #09090b;
  --light-gray-bg: hsl(235.98deg 12.33% 25.85%);
  --tags-bg: #383840;
  --left-bar-text: #e9e9e9;
  --tool-bar-color: #000000eb;
  --light-text-color: #b0b4c8;
  --light-grey-text-color: #b0b4c8;
  --icon-color: #b4bacf;
  --main-text-color: #e4e6f0;
  --placeholder-text: #737580;
  --block-bg-color: hsl(235.98deg 13.92% 15.68%);
  --table-border-color: hsl(228deg 8.95% 16.63%);
  --table-border-color-highlight: hsl(235.98deg 13.92% 15.68%);
  --table-selected:hsl(235.98deg 14.2% 12.99%);
  --invert-bg-color: hsl(235.98deg 13.92% 15.68%);
  --editor-bg-color: hsl(235.98deg 13.92% 15.68%);
  --link-color: #2CBAEC;
  --link-color-hover: #0594CC;
  --alert-bg: #0F0F11;
  --bg-color: hsl(235.98deg 13.92% 15.68%);
  --evo-sub-side: hsl(235.98deg 14.15% 12.09%);
  --section-nav-gray:hsl(235.98deg 13.92% 15.68%);
  --color-gray:#a5a9b9;
  --color-lightgray: #0F0F11;
  --color-overlay-bg:#000000b8;
  --copilot-btn-light-hover:hsl(235.98deg 17.71% 8.27%);
  --copilot-btn-light-visited:hsl(235.98deg 14.71% 10.61%);
  --copilot-chat-input:#444756;
  --copilot-bg:hsl(235.98deg 14.27% 9.3%);
  --copilot-bg-msg:hsl(235.98deg 13.92% 15.68%);
}
